
body {
    font-family: 'Sanchez', serif;
}

.container {
    margin:20px 10%;
    border: 2px solid black;
    padding: 10px;
}

header{
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

h1 {
    margin: 0px 0px 0px 0px;
}

#answerList, #question {
    text-align: center;
}
