
body {
    font-family: 'Sanchez', serif;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S5cKz0c8liy0pcki4/gray-old-grunge-film-background-video-loop-footage_r8nvlvtue_thumbnail-full01.png);
    background-size: 100%;
}

.container {
    margin:100px 12% 0px 12%;
    padding: 10px;
    background: rgb(213, 209, 188, .6);
    box-shadow: 0 0 5px 10px rgb(213, 209, 188, .5);
}

header{
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

h1 {
    margin: 0px 0px 0px 0px;
}

.infoBoard{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#answerList, #question {
    text-align: center;
}


.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	margin: 10px 10px;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 300px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2g */
.btn-2g {
	border-radius: 40px;
}

.btn-2g:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2g:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

